
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: #1f2122;
  text-decoration: none !important;
}
a:hover {
	color: #F99;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
  font-weight: bold;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #1f2122;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

body .page-content {
  margin-top: 110px;
  background-color: #f2f5fe;
  padding: 60px;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #e75e8d;
  color: #1f2122;
}

::-moz-selection {
  background: #e75e8d;
  color: #1f2122;
}

.templatemo-item {
	max-width: 80px; 
	border-radius: 23px;
}

.main-button p{
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button p:hover {
  background-color: #fff;
  color: #e75e8d;
}

.main-border-button {
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button:hover {
  border-color: #fff;
  background-color: #fff;
  color: #e75e8d;
}

.border-no-active {
  border-color: #666;
  color: #666;
}

.border-no-active:hover{
  border-color: #666;
  color: #666;
  background-color: transparent;
}

section {
  margin-top: 120px;
}

.heading-section h4 {
  color: #ec6090;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h4 em {
  color: #1f2122;
  font-style: normal;
  text-decoration: underline;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #e75e8d;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #e75e8d;
  border-radius: 50%;
}

.search {
  position: relative;
}

.search input {
  background-color: #f2f5fe;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 45px;
}

.search i {
  position: absolute;
  color: #666;
  left: 20px;
  top: 16px;
  width: 18px;
  height: 18px;
  font-size: 16px;
}



@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  
}


.main-banner {
  background-image: url('https://images.unsplash.com/photo-1620336655071-6b2ea4272b15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8eXUlMjBnaSUyMG9ofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
}

.main-banner h6 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}

.main-banner h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 3rem;
  color: '#fff';
  font-weight: bold;
}

.main-banner h4 em {
  font-style: normal;
  color: #ec6090;
}

.cards-container {
  margin-top: 60px;
  padding: 30px;
  background-color: #fff;
  border-radius: 23px;
}

.cards-container .item {
  background-color: #f2f5fe;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

.cards-container .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.cards-container .item img {
  border-radius: 23px;
}

.cards-container .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.cards-container .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.cards-container .item ul {
  float: right;
  margin-top: 20px;
}

.cards-container .item ul li {
  text-align: right;
  color: #1f2122;
  font-size: 14px;
}

.cards-container .item ul li:first-child i {
  color: yellow;
}

.cards-container .item ul li:last-child i {
  color: #ec6090;
}

.cards-container .main-button {
  text-align: center;
  margin-bottom: -53px;
}


footer p {
  text-align: center;
  padding: 30px 0px;
  color: #1f2122;
  font-weight: 300;
}

footer p a {
  color: #1f2122;
  transition: all .3s;
}

footer p a:hover {
  color: #ec6090;
}



body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body .page-content {
    padding: 0px 30px;
  }
  .main-banner {
    text-align: center;
  }
  .main-banner h4 {
    font-size: 35px;
  }
}

@media (max-width: 1200px) {
  
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-main{
  border-width: 0px;
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.button-main:hover {
  background-color: #fff;
  color: #e75e8d;
}

.main-nav a h1 {
  color: #e75e8d;
  font-weight: bold;
}

.modal-dialog{
  border-radius: 100px;
  min-width: 500px;
}
.modal-content{
  border-radius: 30px;
  min-width: 500px;
}

.modal-title{
  color: #e75e8d;
}

.form-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-list label {
  font-size: 18px;
  font-weight: 500;
}

.form-list input {
  background-color: #f2f5fe;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  width: 300px;
}

.form-list input::placeholder {
  text-align: start;
  margin-left: 4px;
}

.form-list textarea::placeholder {
  text-align: start;
  padding-top: 10px;
}


.form-list textarea {
  background-color: #f2f5fe;
  border-radius: 15px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  width: 300px;
}

.form-list select {
  background-color: #f2f5fe;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  width: 300px;
}

.form-list select option {
  background-color: #f2f5fe;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  width: 300px;
}

.item-button{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}
.item-button .button-main{
  width: 100%;
  text-align: center;
}
.item-button .hapus{
  width: 100%;
  text-align: center;
  background-color: red;
}

.item-button .hapus:hover{
  width: 100%;
  text-align: center;
  background-color: white;
}

.header-text{
 display: none;
}

.top_container{
  padding: 30px;
  background-color: #fff;
  border-radius: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardbox{
  width: 270px;
}

.cards-container h4{
  color: #e75e8d;
  font-weight: 700;
}

.cards-container .card{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cards-container .card .card-body .card-title{
  color: black;
}

.editdel_button{
  border-width: 0px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #e75e8d;
  margin-right: 20px;
}

.editdel_button:hover{
  color: #e75e8d;
  background-color: #fff;
}

.newComment{
  width: 600px;
  height: 360px;
  background-color: #f2f5fe;
  padding: 30px;
  border-radius: 15px;
}

.newComment h4{
  color: #e75e8d;
  font-weight: 700;
  margin-bottom: 25px;
}

.input-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-list label {
  font-size: 18px;
  font-weight: 500;
}

.input-list input {
  background-color: white;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  width: 400px;
}

.input-list input::placeholder {
  text-align: start;
  margin-left: 4px;
}

.input-list textarea {
  background-color: white;
  border-radius: 15px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 15px 15px 0px 15px;
  width: 400px;
}

.input-list textarea::placeholder {
  text-align: start;
}

.addcomment_button{
  border-width: 0px;
  width: 540px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #e75e8d;
  margin: 20px auto 0px;
  font-weight: 600;
}

.addcomment_button:hover{
  color: #e75e8d;
  background-color: #f2f5fe;
  border: solid 1px #e75e8d;
}

.goback{
  margin-bottom: 20px;
}

.goback_button{
  border-width: 0px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  background-color: #e75e8d;
}

.goback_button i{
  margin-right: 15px;
}

.goback_button:hover{
  color: #e75e8d;
  background-color: #f2f5fe;
}

.save_btn{
  border-width: 0px;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #e75e8d;
}

.save_btn:hover{
  color: #e75e8d;
  background-color: #fff;
}

.input-list2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-list2 label {
  font-size: 18px;
  font-weight: 500;
}

.input-list2 input {
  background-color: #f2f5fe;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  width: 300px;
}

.input-list2 input::placeholder {
  text-align: start;
  margin-left: 4px;
}

.input-list2 textarea {
  background-color: #f2f5fe;
  border-radius: 15px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 15px 15px 0px 15px;
  width: 300px;
}

.input-list2 textarea::placeholder {
  text-align: start;
}

.mc_editcomment{
  padding: 20px;
}

.mt-ec{
  font-weight: 600;
  font-size: 24px;
}